<h2>Online Order</h2>
<span>Dear Amir you have received a online order</span>
<h2>Customer Detail</h2>
<label>Name:</label>
<span><%=@customer.full_name%></span>
<label>Mobile</label>
<span><%=@customer.phone_number%></span>
<h2>Sale Info</h2>
<label>Invoice#<%=@sale.id%></label>