<h1>Welcome OnLine POS System</h1>

<p>Hi</p>
<p>
  Your account has been created successfully
</p>
<p>Please click to the below link to activate your POS System</p>
<p><%= link_to 'active pos', save_store_url(:slug =>@lead.slug) %></p>
<pre>
	Any problem feel free to contact us
	+92 345 41 90 038
</pre>